.big-picture {
  max-width: 1400px;
  margin: 0 auto;

  .viz {
    display: flex;
    flex-flow: row nowrap;

    .branch {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      background: #eeeeee;
      padding: 0 2px;
      margin-right: 3px;
      margin-bottom: 3px;
      font-size: 14px;

      .word {
        // display: inline-block;
        background: #dddddd;
        margin-bottom: 3px;
        font-size: 10px;
      }
    }
  }
}
