.bubblecharts-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;

  .group {
    display: flex;
    flex-flow: row wrap;

    .bubblechart {
      width: calc(100% / 3 - 10px);
      margin: 10px 0 20px 0;

      h4 {
        text-align: center;
      }
    }
  }
}
