.menu-container {
  background-color: #ffffff;
  position: relative;
  // top: 0;
  // left: 0;
  // z-index: 1000;
  max-height: calc(100vh - 12px);
  overflow: auto;
  border-radius: 5px;

  .word-details {
    position: sticky;
    top: 0;
    padding: 0 16px;
    z-index: 1050;
    border-radius: 0;
  }

  .menu-list {
    width: 100%;

    .word-item {
      &-selected {
        font-weight: 700;
      }
    }
  }
}
