@import "~leaflet/dist/leaflet.css";
@import "~react-leaflet-markercluster/dist/styles.min.css";

.style {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.markercluster-map {
  height: 90vh;
}
