@import "~leaflet/dist/leaflet.css";
@import "~react-leaflet-markercluster/dist/styles.min.css";

.leaflet-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  .tooltip {
    padding: 2px;
  }
}
