.word-map {
  padding: 12px;
  width: 100%;
  max-width: calc(100% / 1 - 10px);

  @media (min-width: 375px) {
    max-width: calc(100% / 3 - 10px);
  }

  @media (min-width: 700px) {
    max-width: calc(100% / 6 - 10px);
  }

  .blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    span.item {
      padding: 3px;
      background: #eeeeee;
      margin: 2px;

      span.item-word {
        display: inline-block;
        background: #dddddd;
        padding: 0 2px;
        margin-right: 3px;
        margin-bottom: 3px;
        font-size: 14px;
      }
    }
  }
}
